@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'UnifrakturCook', cursive;
  background: #000;
  overflow-x: hidden;
  color: aliceblue;
}

body::-webkit-scrollbar {
  display: none;
}